<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>کاویان تجارت - درباره ما</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <!-- Vendor CSS -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/vendor/vendor.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style-food.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/style-rtl.css" rel="stylesheet" />
    <!-- Custom font -->
    <link href="/fonts/icomoon/icons.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&nbsp;Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <style></style>
  </head>
  <body>
    <%- include('header.ejs') -%>
    <div class="page-content">
      <div
        class="holder mt-0 py-3 py-sm-5 py-md-10 bg-cover lazyload"
        data-bgset="images/pages/about-bg.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-11 col-md-9 col-xl-9">
              <div class="page-title-bg py-md-3 py-xl-6">
                <h1>درباره ما</h1>
                <p class="d-none d-md-block">
                  شرکت مدیریت صادرات و واردات کاویان تجارت ایساتیس غرب با هدف
                  افزایش صادرات و توسعه روابط تجاری تولیدکنندگان ایرانی با تجار
                  کشورهای مختلف تاسیس شده است. این شرکت با بهره‌گیری از تجربه
                  چندین ساله خود، تمام توان خود را به کار می‌گیرد تا بازرگانی
                  خارجی و صادرات را تسهیل کرده و رضایت صادرکنندگان و واردکنندگان
                  را فراهم آورد. <br />
                  این شرکت با بازاریابی بهینه و شناسایی بازارهای هدف، موفق به
                  صادرات کالاهای صنعتی و مصرفی به کشورهای گوناگون شده است.
                  همچنین، با استفاده از روابط خود در کشورهای مختلف، قادر است
                  کالاهای مورد نیاز را از کارخانه‌های اصلی شناسایی، خریداری و به
                  ایران ارسال کند و در این زمینه واردات را تسهیل نماید.
                </p>
                <p class="d-none d-md-block">
                  <i>
                    <b>
                      پشتیبانی ما از شنبه تا چهارشنبه از ۹ صبح تا ۹ شب در دسترس
                      هستند.<br />
                      در صورت وجو مشکل در ارتباط باشید.
                    </b>
                  </i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="holder holder-subscribe-full holder-subscribe--compact">
      <div class="container">
        <div class="row">
          <div class="col-auto">
            <div class="subscribe-form-title-md">ارتباط با ما</div>
            <div class="subscribe-form-title-xs">
              جهت ارتباط با ما یا ثبت درخواست بر روی دکمه روبرو کلیل کنید.
            </div>
          </div>
          <div class="col">
            <div class="subscribe-form">
              <form action="/contact_us">
                <div class="form-inline">
                  <button type="submit" class="btn btn--lg">
                    ارتباط با ما
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="holder">
      <div class="footer-shop-info">
        <div class="container">
          <div class="text-icn-blocks-bg-row">
            <div class="text-icn-block-footer">
              <div class="icn">
                <i class="icon-trolley"></i>
              </div>
              <div class="text">
                <h4>تحویل فوق العاده سریع</h4>
                <p>
                  سفارش شما 3 تا 5 روز کاری پس از در دسترس قرار گرفتن تمام اقلام
                  شما تحویل داده می شود
                </p>
              </div>
            </div>
            <div class="text-icn-block-footer">
              <div class="icn">
                <i class="icon-currency"></i>
              </div>
              <div class="text">
                <h4>بهترین قیمت</h4>
                <p>
                  ما قیمت محصولات را با قیمت‌های کلیدی رقبا در فروشگاه‌های
                  آنلاین و محلی به‌صورت فوری مطابقت می‌دهیم.
                </p>
              </div>
            </div>
            <div class="text-icn-block-footer">
              <div class="icn">
                <i class="icon-diplom"></i>
              </div>
              <div class="text">
                <h4>گارانتی</h4>
                <p>
                  تمام محصولات ما شامل گارانتی کیفی است، که میتوانید در صورت
                  نارضایتی بازگشت دهید.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer.ejs') -%>
    <script src="js/vendor-special/lazysizes.min.js"></script>
    <script src="js/vendor-special/ls.bgset.min.js"></script>
    <script src="js/vendor-special/ls.aspectratio.min.js"></script>
    <script src="js/vendor-special/jquery.min.js"></script>
    <script src="js/vendor-special/jquery.ez-plus.js"></script>
    <script src="js/vendor-special/instafeed.min.js"></script>
    <script src="js/vendor/vendor.min.js"></script>
    <script src="js/app-html.js"></script>
  </body>
</html>
