<footer class="page-footer footer-style-2 holder-mt-small">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg col-xl">
          <div class="footer-block collapsed-mobile">
            <div class="title">
              <h4>درباره ما</h4>
              <span class="toggle-arrow"><span></span><span></span></span>
            </div>
            <div class="collapsed-content">
              <div class="footer-txt-block">
                <p><b>کاویان تجارت</b> - شرکت بازرگانی گاویان تجارت</p>
                <p>تجارت انواع میوه جات و سبزی جات و صیفی جات</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg col-xl">
          <div class="footer-block collapsed-mobile">
            <div class="title">
              <h4>ارتباط با ما</h4>
              <span class="toggle-arrow"><span></span><span></span></span>
            </div>
            <div class="collapsed-content">
              <ul>
                <li>شماره تماس: +98 914 478 4117 +98 914 524 3771</li>
                <li>
                  پست الکترونیک:
                  <a href="mailto:info@kaviantrade.com">info@kaviantrade.com</a>
                </li>
                <li>ساعات کاری مجموعه: ۹:۰۰ - ۲۱:۰۰ ,۷ روز هفته</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg col-xl">
          <div class="footer-block collapsed-mobile">
            <div class="title">
              <h4>اطلاعات</h4>
              <span class="toggle-arrow"><span></span><span></span></span>
            </div>
            <div class="collapsed-content">
              <ul>
                <li><a href="/aboutUs">درباره ما</a></li>
                <li><a href="/contact_us">ارتباط با ما</a></li>
                <li><a href="/login">ورود به پنل مدیر</a></li>
                <!-- <li><a href="typography.html">Terms & Conditions</a></li>
                    <li><a href="typography.html">Returns & Exchanges</a></li>
                    <li><a href="typography.html">Shipping & Delivery</a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg col-xl">
          <div class="footer-block collapsed-mobile">
            <div class="title">
              <h4>شبکه های اجتماعی</h4>
              <span class="toggle-arrow"><span></span><span></span></span>
            </div>
            <div class="collapsed-content">
              <ul class="social-list-circle">
                <li>
                  <a href="#"><i class="icon-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-google"></i></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/kaviantrade?igsh=MWd5aTEyaG1yc252Nw=="
                    ><i class="icon-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="#"><i class="icon-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-pinterest"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
