<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>لیست محصولات</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <!-- Vendor CSS -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/vendor/vendor.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style-food.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/style-rtl.css" rel="stylesheet" />
    <!-- Custom font -->
    <link href="/fonts/icomoon/icons.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&nbsp;Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <style></style>
  </head>
  <body>
    <%- include('header.ejs') -%>
    <div class="holder">
      <div class="container">
        <!-- Two columns -->
        <!-- Page Title -->
        <div class="page-title text-center">
          <h1>لیست محصولات</h1>
        </div>
        <!-- /Page Title -->
        <!-- Filter Row -->

        <!-- /Filter Row -->
        <div class="row">
          <!-- Left column -->

          <!-- filter toggle -->

          <!-- /Left column -->
          <!-- Center column -->
          <div class="col-lg aside">
            <div class="prd-grid-wrap">
              <!-- Products Grid -->
              <div
                class="prd-grid product-listing data-to-show-3 data-to-show-md-3 data-to-show-sm-2 js-category-grid"
                data-grid-tab-content=""
              >
                <% products.forEach(function(product){ %> <%-
                include('productCard.ejs', {product: product}) %> <% }); %>
              </div>
              <!-- /Products Grid -->
            </div>
          </div>
          <!-- /Center column -->
        </div>
        <!-- /Two columns -->
      </div>
    </div>
    <div class="holder">
      <div class="footer-shop-info">
        <div class="container">
          <div class="text-icn-blocks-bg-row">
            <div class="text-icn-block-footer">
              <div class="icn">
                <i class="icon-trolley"></i>
              </div>
              <div class="text">
                <h4>Extra fast delivery</h4>
                <p>
                  Your order will be delivered 3-5 business days after all of
                  your items are available
                </p>
              </div>
            </div>
            <div class="text-icn-block-footer">
              <div class="icn">
                <i class="icon-currency"></i>
              </div>
              <div class="text">
                <h4>Best price</h4>
                <p>
                  We'll match the product prices of key online and local
                  competitors for immediately
                </p>
              </div>
            </div>
            <div class="text-icn-block-footer">
              <div class="icn">
                <i class="icon-diplom"></i>
              </div>
              <div class="text">
                <h4>Guarantee</h4>
                <p>
                  If the item you want is available, we can process a return and
                  place a new order
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer.ejs') -%>
    <script src="js/vendor-special/lazysizes.min.js"></script>
    <script src="js/vendor-special/ls.bgset.min.js"></script>
    <script src="js/vendor-special/ls.aspectratio.min.js"></script>
    <script src="js/vendor-special/jquery.min.js"></script>
    <script src="js/vendor-special/jquery.ez-plus.js"></script>
    <script src="js/vendor-special/instafeed.min.js"></script>
    <script src="js/vendor/vendor.min.js"></script>
    <script src="js/app-html.js"></script>
  </body>
</html>
