<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
        <title >فرم ورود کاربران</title>
        <link rel="stylesheet" href="css/vorod.css">
        
    </head>
    <body style="background-color:bisque;direction: rtl;font-family: ">
   
    
        <h1 style="text-align: center;color: dimgrey;margin-top: 90px;font-size: 30px;">فرم ورود کاربران به صفحه شخصی</h1>
        <br>
       <center><img src="images/chlogin.png" alt="login logo"><br><br>
        <b style="text-align: center;font-size: 120%;color: darkblue">اطلاعات خود را در قسمت زیر وارد کنید:</b><br>
           <form method="post" action="">
        <b style="font-size: 120%">نوع کاربر:</b>
        <select name="user">
        <option value="برنامه نویسان">برنامه نویسان</option>
        <option value=";کاربر عادی">کاربر عادی</option>
        <option value="کارمندان">کارمندان</option>
        </select><br><br>
        <b style="font-size: 120%">جنسیت:</b><br>
        <p2 style="font-size: 120%">مرد</p2>
        <input type="radio" name="جنسیت" value="مرد"><br>
        <p3 style="font-size: 120%">زن</p3>
        <input type="radio" name="جنسیت" value="زن"><br>
        <p4 style="font-size: 120%">غیره</p4>
        <input type="radio" name="جنسیت" value="غیره"><br><br>
        <b style="text-align: right;font-size: 120%;font-family: cursive">نام کاربری:</b><br>
        <input type="text"  dir="rtl"><br>
        <b style="text-align: right;font-size: 120%;font-family: cursive">رمز عبور:</b><br>
        <input type="password" dir="rtl"><br><br>
        <input type="submit" value="ورود" dir="rtl"><br><br>
        <p7 style="font-family: inherit;font-size: 130%"><strong>مرا به خاطر بسپار</strong></p7>
           <input type="checkbox" value="مرا به خاطر بسپار"></center>
           
           </form>
           
    

    </body>
</html>